<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %> 

<body>
    <main>
        <h2>Nothing Here</h2>    
        </main>
<%- include('../includes/end.ejs') %>   
